*
{
    box-sizing: border-box;
}
body
{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/*---Navigation_Bar---*/

.Navigation_Bar
{
    height: 80px;
    border-radius: 0px 0px 30px 30px;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(66, 66, 66, 0.2);
    display: flex;
    position: fixed;
    z-index: 999;
}

.Logo
{
    height: 80px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Links
{
    height: 80px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.Links a 
{
    text-decoration: none;
}
/*dropdown*/
.dropdown 
{
    display: inline-block;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight:bold;
}
  
.dropdown-content a:hover
{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
.link
{
    height: 30px;
    width: 90px;
    color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border-radius: 100px;
}
.link:hover
{
    background-color: rgb(167, 139, 245);
    color: white;
}
.Search_Bar
{
    height: 80px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_bar
{
   height: 40px;
   width: 241px;
   border-radius: 50px;
   border: 1px solid rgb(214, 214, 214);
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
#search
{
    padding-bottom: 5px;
    height: 40px;
    width: 160px;
    border: 0px;
    outline: 0px;
}
#search_icon
{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
}
#small_bar
{
    height: 25px;
    width: 1px;
    border-radius: 2px;
    background-color: rgb(214, 214, 214);
}
#search_icon_2
{
    height: 40px;
    width: 40px;
    border-radius: 0px 50px 50px 0px;
    border:0px;
    background-color: white;
}
.Log_In
{
    height: 80px;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-right: 50px;
}
.Log_In a
{
    text-decoration: none;
    color: rgb(148, 148, 148);
}
.vertical_bar
{
    height: 30px;
    width: 2px;
    background-color: rgb(148, 148, 148);
}
.login
{
    font-weight: bold;
}
.Sign_up
{
    height: 30px;
    width: 80px;
    background-color: rgb(167, 139, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    color: white;
}


/*SLIDER*/
.SLIDER
{   padding-top: 50px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#owl-demo
{
    position: absolute;
    z-index: 10;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.slider_content
{
    position: absolute;
    z-index: 12;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
    transform: translate(140px, 100px);
}
.slider_search_bar
{
    height: 40px;
    width: 405px;
    background-color: white;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(155, 155, 155, 0.2);
    border: none;
    outline: none;
}
#slider_search_bar
{
    height: 40px;
    width: 300px;
    padding-left: 20px;
    border-radius: 40px;
    border: 0px;
    outline:none;
}
#slider_search_btn
{
    height: 41px;
    width: 100.6px;
    border-radius:100px ;
    background-image: linear-gradient(to right , rgb(167, 139, 245), rgb(137, 105, 224));
    border: 0px;
    outline: none;
    color: white;
}
.slider_get_started
{
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#get_started_btn
{
    height: 40px;
    width: 150px;
    border-radius:40px ;background-image: linear-gradient(to right , rgb(167, 139, 245), rgb(137, 105, 224));
    border-color: rgb(137, 105, 224);
    border: none;
    color: white;
}
#play_btn
{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.2);
    color:rgb(167, 139, 245);
}



/*LEARNING*/
.Learning
{
    height: 600px;
    padding-top: 100px;
}
#heading_1
{
    font-size: 34px;
    font-weight: bold;
}
.opportunities
{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
}
.Opportunity
{
    height: 250px;
    width: 250px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.3);
    border-radius: 20px;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Opportunity p
{
    font-size: 14px;
    padding-left: 60px;
    padding-right: 40px;
}
.Opportunity i
{
    font-size: 30px;
}
#Opp_icon
{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color:rgb(167, 139, 245) ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.Opportunity_1
{
    background-image: linear-gradient(to bottom right, rgb(163, 136, 236),rgb(115, 84, 199));
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Opportunity_1 p
{
    color: white;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 40px;
}
.Opportunity_1 i
{
    color: white;
    font-size: 30px;
}
#Opp_icon_1
{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color:rgb(167, 139, 245) ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}/*
.Opportunity:hover
{
    background-color: rgb(144, 111, 235);
    color: white;
}
.Opportunity:hover #Opp_icon
{
    background-color: white;
    color: black;
}
*/

/*Top_Categories*/
.Top_Categories
{
    height: 400px;
}
.categories
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.category
{
    height: 300px;
    width: 200px;
}
.cat
{
    height: 200px;
    width: 130px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#heading_2
{
    height: 100px;
    font-size: 34px;
    font-weight: bold;
}
.cat:hover
{
    height: 220px;
    width: 150px;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.3);
    background-color: white;
    font-size: larger;
}
#cat_font
{
    text-align: center;
    color: rgb(100, 100, 100);
}
.cat:hover #cat_font
{

    color: rgb(29, 29, 29);
}
#cat_img
{
    height: 70px;
    width: 70px;
    transition: .3s;
    margin-bottom: 10px;
}
.cat:hover #cat_img
{
    height: 90px;
    width: 90px;
}
#tutors_img img
{
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 100px;
}


/*TOP_COURSES*/

.TOP_COURSES
{
    margin-top: 50px;
    height: 500px;
}
.courses
{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.card
{
    height: 350px;
    width: 250px;
    transition: .3s;
}
#card
{
    border-radius: 10px;
}
#card_img
{
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
#duration
{
    font-size: 12px;
    color: rgb(100, 100, 100);
}
#tutors
{
    height: 40px;
    font-size: 10px;
    display: flex;
    padding-right: 50px;
}
#tutors_img
{
    height: 40px;
    width: 50px;
}
.card_footer
{
    display: flex;
    align-items: center;
}
#price
{
    font-size: 18px;
    font-weight: bold;
    color: rgb(57, 231, 124);
}
#users
{
    font-size: 12px;
    color: rgb(100, 100, 100);
    padding-left: 100px;
}
.card:hover
{
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.3);
}




/*-----------featured_intructor-------------*/
.featured_instructor
{
    height: 600px;
    padding: 50px;
}
.featured_instructor_heading
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.featured_instructor_content
{
    height: 450px;
    display: flex;
}
.featured_instructor_text
{
    padding-top:150px ;
    padding-right: 100px;
}
#main_lang
{
    display: flex;
    width: 280px;
    justify-content: left;
}
#lang
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 80px;
    height: 40px;
    font-size:12px ;
    background-color: rgb(240, 218, 96);
    border-radius: 5px;
}
#gg_img
{
    border-radius: 200px;
}


/*-------------slider_2-----------*/
.slider_2
{
    margin-top: 50px;
    height: 300px;
    background-image: url("../img/bg_2.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#slider_2_heading
{
    padding-left: 420px;
    padding-right: 420px;
    text-align: center;
}
#slider_2_para
{
    padding-left: 350px;
    padding-right: 350px;
    text-align: center;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.7);
}

#slider_2_btn
{
    height: 40px;
    width: 150px;
    background-color: white;
    border: none;
    border-color: white;
    outline: none;
    border-radius: 40px;
    color: rgb(137, 105, 224);
}



/*FOOTER*/
.FOOTER
{
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.FOOTER div:after
{
    height: 350px;
    border: solid red 2px;
}
.footer_1
{
    height: 350px;
    padding-right: 400px;
}
.footer_1 p
{
    font-size: 14px;
}
.footer_2 p
{
    font-size: 14px;
    color: rgb(88, 88, 88);
}
.social_icons
{
    display: flex;
    height: 40px;
    width: 150px;
    justify-content: space-around;
}
.social_icons a
{
    text-decoration: none;
}
#icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(137, 105, 224);
    color: white;
}
#icon:hover
{
    background-color: rgb(173, 152, 230);
}







